/* Element selector targeting the headline of the page*/
h1 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/*Universal Selector targeting the background of the page*/
* {background-color: cornsilk;}


  